  /* css of whole body */
      * 
         {
               box-sizing:border-box; 
               font-family:Montserrat;
         } 
         /* css to body content */
         body 
         {    
            font-style: normal;
            font-weight: 600;
            padding:0px;
            margin:0px; 
         }  
         
          .Product-content
         {
             display:flex;
             justify-content:space-evenly;  
             padding:10px;
         }
          .product-class 
          {
              width:420px;
              padding:10px;
              margin-top: 10px;
          }
         .Product-img 
         { 
            width:100%;
            height:370px;
            background-color:#D9D9D9;
         }
         .product-imf 
         {
              width:500px;
              color:#4A4747;        
              font-size:16px;
              margin-right:70px;
         }
          .product-title1 
           {
                  color: #128908;
                  font-size:20px;
           } 
          .Product-span1 
           {
             color:#000;
             font-size:16px;
           }     
           .Button 
           { 
               width:90%;
               height:45px;
               border:none; 
               padding: 10px;
               align-items: center;
               border-radius: 5px; 
               background: #128908;
               color: #E3DCDC; 
               font-size: 15px;
               margin-top:40px;
           } 
           .product-adv  
           {
             padding:10px 20px;
           }
           .product-adv h3 
           {
              font-size:20px;
              color:#000;
           }
           .product-adv ol li 
           {
              padding:10px;
              color:#4A4747;
           }
           .Product-header 
         {
             text-align:center;
             margin-top:50px;
         }
         /* product line content */
         .Product-header span 
         {
            color: #128908;
            font-size: 25px; 
            margin:0px;
            background-color:#fff;
            padding:6px 4px;
            position: relative;
            bottom:26px;   
         }

         @media screen and (max-width:500px)
          {
               .Product-content 
               {
                  display:block;  
                  margin:auto;
               }  
               .product-class
               {
                 width: 80%;
                 margin:auto;
               }
               .product-imf 
               {
                  width:90%;
                  margin:auto;
                  font-size:15px;
                  padding-left:20px;
               }
               .product-title1 
           {      color: #128908;
                  font-size:15px;
                  text-align:left;
           } 
              .Product-span1 
             {  
             font-size:15px;
             text-align:left;
            } 
          }
