@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Syne:wght@600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
.banner img{
    width: 100%;
}
.banner-text{
    margin-top: 8px;
    color: white;
    top: 20px;
    position: relative;
    top: -420px;
    font-family: 'Montserrat', sans-serif;
}
.banner h1{
    font-size: 40px;
    margin-bottom: 20px; 
}
.banner h2{
    font-size: 26px;
}
.banner-button{
    position: relative;
    top: -350px;
    width: 250px;
    font-size:18px;
    text-align:center;
    padding:10px 13px 15px;
    background: rgba(18, 137, 8, 1);
    color: white;
    padding-bottom: 10px;
    border-radius: 10px;
    left: 44%;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}


.popular-products{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -105px;
}
.line1{
    width: 46%;
    border-radius: 2px;
    height: 2.5px;
    background: rgba(73, 75, 73, 1);
}
.product-title{
    margin-left: 10px;
    margin-right: 10px;
}
.line2{
    width: 46%;
    border-radius: 2px;
    height: 2.5px;
    background: rgba(18, 137, 8, 1);
}
#popular{
    font-size: 25px;
    letter-spacing: 2px;
}

#products{
    color:rgba(18, 137, 8, 1);
    font-size: 18px;
}



.product-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.circle_img{
    
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


.banner p{
    margin-top: 8px;
    color: white;
    top: 20px;
    position: relative;
    top: -559px;
    font-family: 'Montserrat', sans-serif;
}
#p1{
    font-size: 23px;
}
#p2{
    font-size: 65px;
}

.choose-div{
    background-image: url('../images/Rectangle\ 7.png');
    width: 100%;
    height: 100%;
    
}
.green-box{
    background-color: rgba(5, 103, 26, 0.9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.green-box ul{
    text-align: left;
    color: white;
    list-style: square;
}
.green-box ul li{
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.green-box p{
    font-size: 40px;
    color: white;
    font-family: 'Syne', sans-serif;
    line-height: 2.2;
}

.location-section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}


.application-images{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: -550px;
    margin-bottom: 60px;
}