  /* css of whole body */
         * 
         {
               box-sizing:border-box; 
               font-family:Montserrat;
         } 
         /* css to body content */
         body 
         {
            margin-top:100px;
            width:100%;
            padding:0px;
            
            font-style: normal;
            font-weight: 600;
            line-height: 65px;  
         }
         /* Header part of product page */
         .Product-header 
         {
             text-align:center;
             margin-top:50px;
         }
         /* product line content */
         .Product-header span 
         {
            color: #128908;
            font-size: 25px; 
            margin:0px;
            background-color:#fff;
            padding:6px 4px;
            position: relative;
            bottom:42px;   
         }
         
         /* product list content */
         .Product-list 
         {
             width:100%;
             display:flex;
             justify-content:space-evenly;
             padding:10px 12px;
         }
         
         /* .Product-item content */
        
         .Product-item
         {
            width:300px;
            justify-self:center;
            justify-items:center;
            color:#4A4747;
            flex-shrink: 0;
            border: 0.5px solid #565252;
            border-radius:10px;
            font-size: 12px;
            margin-bottom:80px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
         }

         /* product img */
         .Product-item .img 
         {
              border-top-left-radius:10px;
              border-top-right-radius:10px;
              width: 298px;
              background-color:#D9D9D9;
              height: 299px;
              flex-shrink: 0;
         }
        /* product title  */
         .product-title 
           {
                  color: #128908;
                  font-size: 12px;
           }
        /* .Product span */
        .Product-span 
           {
             color: #000;
             font-size: 12px;
           }  

  /* Media query  */
        @media screen and (max-width:550px)
            {
                  .Product-list 
                  {
                       display:block;
                  }
                  .Product-item
                  {
                      margin:14px auto ;
                  }
            }
